[Unit]
Description=HashiCorp Vault Service

[Service]
ExecStart=/usr/local/bin/vault server -config=/etc/vault-config/config.json

[Install]
WantedBy=multi-user.target
